<% include _layouts/headercursed %>
<!-- NEVER TOUCH THIS FUCKING CODE. THE DARK LORD CALLS FOR IT. IF CHANGED THE WHOLE FUCKING THING CRASHES.
    IT IS LITERALLY LIKE THE ONE RING LOOKING FOR A WAY BACK TO SAURON-->

    
<div class="higher">
<h4 class="client">Client: <br> <%= p.personal %></h4>
<p class="desc"><%- desc %> </p>
</div>

<div class="lower">
<h4 class="year">Year: <br> <%- p.year %></h4>
<p class="write"><%- write %> </p>
</div>
    
    
   
   
    
    
        <ul class="gallery">
            <% galleryImages.forEach(function(image){ %>
            <% if (image != "thumbs") { %>
            <li>
                <a data-fancybox="gallery" href="/product_images/<%= p.id %>/gallery/<%= image %>">
                    <img src="/product_images/<%= p.id %>/gallery/<%= image %>" alt="">
                </a>
            </li>
            <% } %>
            <% }); %>
        </ul>
    </div>
</div>
<% include _layouts/footer %>